.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.product-item{
  padding: 20px;
}




.banner{
  position:relative;
}

.image {
  display: block;
  width: 100%;
 
}

.overlay {
  position: absolute;
  bottom: 0;
 
 background-color: white;

  overflow: hidden;
  width: 95%;
  height: 0;
  transition: .5s ease;
}



.banner:hover .overlay {
  height: 28%;
 opacity: 0.8;
}

.sliderlist {
  color: black;
  font-size: 20px;
  position: relative;
  text-align: center;
  
}

.super{
  color: white;
  border-radius: 50%;
  background: grey;
 
  top: -18px;
  font-size: 13px;
  padding: 4px;
}


.overlay1 {
    position: absolute;
    bottom: 0;
    left: 10px;
    background: rgb(0, 0, 0);
    background: rgba(58, 53, 53, 0.5);
    color: #f1f1f1;
    width: 94%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    height: 84px;
}

.sliderlist:hover .overlay1 {
  opacity: 1;
}

.fbtn{
    height: 35px;
    margin: 3px;
    background: gray;
    color: white;
    border: none;
    /* font-size: 20px; */
    /* padding: 6px; */
    width: 90px;
    border-radius: 5px;
}



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination span {
  padding: 0.5rem;
  cursor: pointer;
}

.pagination span.active {
  font-weight: bold;
}